{% load bootstrap4 static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}

    <title>Cerca Auto</title>
  </head>
  <body>
    <h1>Cerca un'auto:</h1>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form action="" method="get" class="form">
                    {% bootstrap_form filter.form %}
                    {% buttons %}
                      <button type="submit" class="btn btn-primary">
                        Cerca
                      </button>
                    {% endbuttons %}
                  </form>   
            </div>
            <div class="col-9">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Costruttore</th>
                    <th scope="col">Modello</th>
                    <th scope="col">Anno</th>
                    <th scope="col">Alimentazione</th>
                    <th scope="col">Km</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Note</th>
                  </tr>
                </thead>
                <tbody>
                {% for auto in filter.qs %}
                  <tr>
                    <th scope="row">{{ auto.id }}</th>
                    <td>{{ auto.costruttore }}</td>
                    <td>{{ auto.modello }}</td>
                    <td>{{ auto.anno }}</td>
                    <td>{{ auto.get_alimentazione_display }}</td>
                    <td>{{ auto.km }}</td>
                    <td><img src="{{ auto.fotografia.url }}" width=200></td>
                    <td>{{ auto.note }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</body>
</html>
